.panel {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 100;

  form {
    color: white;
    position: absolute;
    top: -70px;
    left: 0;
    min-width: 150px;
    max-width: 450px;
    width: 100%;

    mat-form-field {
      width: 100%;
    }
    button {
      height: 68px;
    }
  }
}
