<div class="panel">
  <button
    title="User signin"
    type="button"
    class="btn btn-dark float-end"
    (click)="MS.panel = 'signin'"
    *ngIf="MS.user == null && (MS.panel == 'video' || MS.panel == 'signup')"
  >
    <i class="bi bi-person"></i>
  </button>

  <button
    title="signout"
    type="button"
    class="btn btn-dark float-end"
    (click)="signout_clickHandler()"
    *ngIf="MS.user != null"
  >
    <i class="bi bi-box-arrow-right"></i>
  </button>

  <button
    title="{{ MS.user.firstName }} {{ MS.user.lastName }}"
    type="button"
    class="btn btn-dark float-end"
    *ngIf="MS.user != null"
  >
    <i class="bi bi-person-fill"></i>
  </button>

  <button
    title="Video"
    type="button"
    class="btn btn-dark float-end"
    (click)="MS.panel = 'video'"
    *ngIf="MS.panel == 'signin' || MS.panel == 'signup'"
  >
    <i class="bi bi-youtube"></i>
  </button>

  <div class="card bg-dark text-bg-dark" style="width: 450px">
    <div class="card-body">
      <app-signin *ngIf="MS.panel == 'signin'"></app-signin>
      <app-signup *ngIf="MS.panel == 'signup'"></app-signup>
      <app-video *ngIf="MS.panel == 'video'"></app-video>
    </div>
  </div>
</div>
